 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>ABOUT</h2>
                    <hr class="star-light">
                </div>
            </div>
             <center>
                <br>
                <div class="center-block">
                    <h3>I am a full stack iOS developer for hire.</h3>
                </div>
                <br>
                    <h3>After 4 years of experience, I am able to communicate well an idea into a product that not only functions correctly, but transforms with style.</h3>
                <br>
                    <h3>In your email, please describe your app's main function or purpose and tell me when you would like this project to be completed.</h3>
                <br>
                <br>
                <br>
                <div class="col-lg-12 text-center">
                    <h2>I LOOK FORWARD TO BUILDING YOUR APP</h2>
                    <hr class="star-light">
                </div>
             </center>
        </div>
    </section>
