 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
             <center>
                <div class="col-lg-4 col-lg-offset-2">
                    <p>iOS developer with a taste for disruptive tech and unique UX/UI seeking new projects.</p>
                </div>
                <div class="col-lg-4">
                    <p>Studied MVC-based development through Objective-C mentorship at SAE Institute. Continued training in Objective-C and Swift through BLOC mentorship.</p>
                </div>
             </center>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/andrewcar" class="btn btn-lg btn-outline">
                     <i class="fa fa-github-alt"></i> github
                    </a>
                </div>
            </div>
        </div>
    </section>
