 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>WHY</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
             <center>
                <br>
                <div class="col-lg-7 col-lg-offset-2">
                    <p>I Care About Your Product</p>
                </div>
                <br>
                <div class="col-lg-4">
                    <p>Know your audience. Every app is downloaded for one to two reasons. Know yours and the product will go far. The design of your product will consider growth, monetization, and style.</p>
                </div>
                <br>
                <br>
                <div class="col-lg-7 col-lg-offset-2">
                    <p>What Do I Know?</p>
                </div>
                <br>
                <div class="col-lg-4">
                    <p>I learned Objective-C through a project-based mentorship at SAE Institute in 2013. I learned more Objective-C and then Swift through another mentorship at BLOC in 2014. I have kept up with Swift as it's evolved up to its current state.</p>
                </div>
                <br>
                <br>
                <div class="col-lg-7 col-lg-offset-2">
                    <p>What Am I Working On Now?</p>
                </div>
                <br>
                <div class="col-lg-4">
                    <p>I am building a neighborhood geofencing sharing platform to rank media, places of interest and parties with your facebook friends and the world on a map.</p>
                </div>
             </center>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/andrewcar" class="btn btn-lg btn-outline">
                     <i class="fa fa-github-alt"></i> github
                    </a>
                </div>
            </div>
        </div>
    </section>
